
/*--reset--*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/*--start editing from here--*/
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*--end reset--*/
body{
	font-family: 'Jura', sans-serif;
	background:url(../images/a.png) repeat 0px 0px;
}
/*-- main --*/
.main {
    padding: 3em 0;  
}
h1 {
    text-align: center;
    font-size: 2.2em;
    color: #000;
}
.video-record-list {
    width: 33%;
    margin: 3em auto;
}
.video-main p{
	margin-bottom:2em;
  color: #fff;
  font-size: 14px;
  text-align: center;

}
.video-main p a{
	color:#000;
	text-decoration:none;
}
.video-main p a:hover{
	color:#fff;
}
.player-text {
    padding: 2em;
}
.player-text h2 {
    font-size: 1.5em;
    font-weight: 800;
    color: #000;
    font-family: 'Jura', sans-serif;
}
/*--player-text--*/
.player-text-left {
    float: left;
    margin-right: 4em;
}
.player-text-right {
    float: left;
}
.player-text h2 span {
    color: #11C1C1;
}
.player-text p {
    font-size: 0.8em;
    margin-left: 3em;
    color: #888;
    font-family: inherit;
}
.player-text ul li {
    display: inline-block;
    margin-right: 1em;
    vertical-align: -webkit-baseline-middle;
}
/*--//player-text--*/
.copyright {
    text-align: center;
}
.copyright p {
    font-size: 1em;
    color: #EA4C89;
    font-weight: 500;
}
.copyright p a {
    color: #757575;
}
.copyright p a:hover{
    color: #11C1C1;
}
/*---- responsive-design -----*/
@media(max-width:1440px){
.video-record-list {
    width: 39%;
}
}
@media(max-width:1366px){
}
@media(max-width:1280px){
.video-record-list {
    width: 45%;
}
.video-record-list {
    width: 50%;
}
}
@media(max-width:1080px){
.video-record-list {
    width: 50%;
}
}
@media(max-width:1024px){
.video-record-list {
    width: 53%;
}
}
@media(max-width:991px){
.video-record-list {
    width: 56%;
}
}
@media(max-width:900px){
.video-record-list {
    width: 61%;
}
}
@media(max-width:768px){
.video-record-list {
    width: 72%;
}
}
@media(max-width:640px){
.video-record-list {
    width: 84%;
}
h1 {
    font-size: 2em;
}
}
@media(max-width:600px){
.player-text-left {
    float: left;
    margin-right: 3em;
}
}
@media(max-width:480px){
.player-text h2 {
    font-size: 1em;
}
h1 {
    font-size: 1.5em;
}
.player-text-left {
    margin-right: 2em;
}
.player-text p {
    font-size: 0.7em;
}
.copyright p {
    font-size: 0.85em;
    line-height: 1.8em;
	padding: 0 1em;
}
}
@media(max-width:320px){
h1 {
    font-size: 1.2em;
}
.video-record-list {
    margin: 1.5em auto;
}
.video-record-list {
    width: 93%;
}
.player-text {
    padding: 1em;
}
.player-text-left {
    margin-right: 1.1em;
}
.player-text h2 {
    font-size: 0.9em;
    font-weight: 400;
}
.player-text p {
    font-size: 0.6em;
}
.player-text ul li {
    margin-right: 0;
    vertical-align: top;
}
.player-text ul li a img {
    max-width: 88%;
}
.player-text ul li:nth-child(1) {
    margin-right: 0.5em;
}
.jp-interface {
    margin: 2em auto 0;
}
.jp-controls-holder {
    margin-top: 1.3em;
    top: 0px;
}
.copyright p {
    font-size: 0.8em;
}
}
/*--//responsive-design---*/
